spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/advent_calendar
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
  jpa:
    hibernate:
      ddl-auto: update
  flyway:
    baseline-on-migrate: true
server:
  port: 8080

security:
  jwt:
    secret-key: ${JWT_KEY}

logging:
  level:
    org.springframework.web: DEBUG