<div class="login-container">
  <h2>Login</h2>
  <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
    <mat-form-field>
      <mat-label>Username</mat-label>
      <input matInput type="text" id="usernameForm" [formControl]="usernameControl">
      @if (usernameControl.invalid) {
        <mat-error>{{ getErrorMessage(usernameControl) }}</mat-error>
      }
    </mat-form-field>
    <mat-form-field>
      <mat-label>Password</mat-label>
      <input matInput id="passwordForm" [type]="hide ? 'password' : 'text'" [formControl]="passwordControl">
      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hide">
        <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
      </button>
      @if (passwordControl.invalid) {
        <mat-error>{{ getErrorMessage(passwordControl) }}</mat-error>
      }
    </mat-form-field>
    <button class="submitButton" type="submit" id="loginButton"
            [ngClass]="{'enabled': !loginForm.invalid, 'disabled': loginForm.invalid}">Login
    </button>
    <div id="lineBrake"></div>
    <div (click)="onNavigateToRegister()">
      <span class="toSignUp">Don't have an account?</span>
      <span id="toSignUpSignUp"> Signup</span>
    </div>
  </form>
</div>
