<div class="login-container">
  <h2>Login</h2>
  <form (submit)="onLogin()">
    <label for="username">Benutzername:</label>
    <input type="text" id="username" [(ngModel)]="username" name="username" required>

    <label for="password">Passwort:</label>
    <input type="password" id="password" [(ngModel)]="password" name="password" required>

    <button type="submit" id="loginButton"
            [ngClass]="{ 'btn-enabled': username && password, 'btn-disabled': !username || !password }">Login
    </button>
    <p *ngIf="loginError" id="errorText">Wrong Username/Password</p>
  </form>
  <a id="registerLink" (click)="onNavigateToRegister()">Noch nicht registriert? Registrieren</a>
</div>
