.login-container {
  max-width: 300px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

mat-form-field {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.submitButton.enabled {
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
}

.submitButton.disabled {
  padding: 10px;
  background-color: #b2b2b2;
  color: #000000;
  border: none;
  border-radius: 4px;
  cursor: not-allowed;
  width: 100%;
}

.submitButton.enabled:hover {
  background-color: #0056b3;
}

#lineBrake {
  border-bottom: 1px solid black;
  width: 100%;
  margin: 1vw 0 1vw 0;
}

.toSignUp {
  cursor: pointer;
}

.toSignUp:hover {
  color: #007bff;
}

#toSignUpSignUp {
  cursor: pointer;
  color: #007bff;
}

#toSignUpSignUp:hover {
  color: #005477;
}
