<div class="register-container">
  <h2>Signup</h2>
  <form [formGroup]="signupForm" (ngSubmit)="onRegister()">
    <label for="createUsername">Username</label>
    <input type="text" id="createUsername" formControlName="createUsername">

    <label for="createPassword">Create password</label>
    <input type="password" id="createPassword" formControlName="createPassword">

    <label for="confirmPassword">Confirm password</label>
    <input type="password" id="confirmPassword" formControlName="confirmPassword">

    <button type="submit" id="registerButton"
            [disabled]="signupForm.invalid">Signup
    </button>
  </form>
  <a id="registerLink" (click)="onNavigateToLogin()">Already have an account?  Login</a>
</div>
