@import "@angular/material/prebuilt-themes/indigo-pink.css";

html, body {
  min-height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  font: 1.1rem/1.6rem 'Roboto', sans-serif;
  color: #005477;
  font-weight: 300;
}

html {
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
